:root {
    --wood-brown: #C19070;
    --almond: #ECE2D0;
    --pearl-aqua: #7FD1B9;
    --deep-taupe: #7A6563;
    --middle-blue-green: #9AD2CB;
}

.add-button {
    margin-top: 10px;
    margin-left: 20px;
}

.cards-container {
    margin-top: 20px;
    margin-left: 20px;
}

.card {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
}

.card-content {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.archive-button {
    margin-right: 2px;
    margin-left: 2px;
}

.edit-button, .delete-button, .archive-button {
    margin-bottom: 5px;
}

.add-attempt-button {
    width: 40%;
    margin-bottom: 10px;
}

.new-climb-container {
    display: flex;
    flex-direction: column;
}

.new-climb-container label {
    margin-bottom: 10px;
    margin-top: 10px;
}

.new-climb-container select {
    background-color: var(--almond);
    width: 40%;
}

.add-climb-button-container {
    margin-top: 15px;
}

