:root {
    --wood-brown: #C19070;
    --almond: #ECE2D0;
    --deep-taupe: #7A6563;
    --middle-blue-green: #9AD2CB;
}

.home-card-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 25%;
    margin-left: 25%;
}

.climbing-quote-text {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: var(--almond);
}

.climbing-quote-climber {
    font-style: italic;
    font-weight: bold;
    color: var(--middle-blue-green)
}

.quote-card {
    background-color: var(--deep-taupe) !important;
    border: 2px solid var(--wood-brown) !important;
    box-shadow: 2px 2px 7px 1px var(--deep-taupe);
    text-shadow: 1px 1px 2px black;
}

.welcome-message {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    color: var(--wood-brown);
    text-shadow: 1px 1px 2px black;
}