:root {
    --wood-brown: #C19070;
    --almond: #ECE2D0;
    --pearl-aqua: #7FD1B9;
    --deep-taupe: #7A6563;
    --middle-blue-green: #9AD2CB;
}

.nav-links-container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header {
    background-color: var(--deep-taupe);
    color: var(--middle-blue-green);
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 2px black;
    border-bottom: 3px solid var(--wood-brown);
    box-shadow: 2px 2px 7px 1px var(--deep-taupe);
}

.nav-link {
    color: var(--middle-blue-green);
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
}

.nav-link:hover {
    color: var(--almond);
}