.undo-archive-climb-button, .delete-archived-climb-button {
    width: 110px;
    margin-top: 5px;
}

.undo-archive-climb-button {
    margin-right: 2.5px;
}

.delete-archived-climb-button {
    margin-left: 2.5px;
}

