form {
    margin: 10px;
    display: flex;
}

h3 {
    margin-top: 5px;
}

#email-label-login, #password-label-login {
    margin-right: 5px;
}

#email {
    margin-right: 10px;
}

#login-button, #signUp-button {
    margin-top: 10px;
}

#signUp-form label {
    margin-top: 5px;
}

#signUp-form input {
    margin-bottom: 10px;
}

.signUp-form-fields {
    display: flex;
    flex-direction: column;
}

